@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
.scrollbar-hide ::-webkit-scrollbar{
display: none;
}

.firefox-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.firefox-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.firefox-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.firefox-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
} */
