.dropdown-container {
  position: relative;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100px;
  display: none;
  margin-top: 5px;
  padding: 10px;
} */
.dropdown-menu a {
  padding: 10px 0; 
  text-decoration: none;
  color: #333;
}
.dropdown-menu.active {
  display: block;
}